{% extends 'view1.html' %}

{% block content %}
<div class="container mt-5">
    {% if user.is_authenticated %}
        {% if user.id == profile.user.id %}
            <h1 class="text-center mb-4">Edit Profile Page</h1>
            <form method="post" enctype="multipart/form-data" class="border p-4 shadow rounded">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p|safe }}  {# Use |safe if you have Bootstrap classes in your form #}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        {% else %}
            {% include 'error.html' %}
        {% endif %}
    {% else %}
        {% include 'error.html' %}
    {% endif %}
</div>
{% endblock %}
